#navBar {
	width: 100%;
	display: flex;
	justify-content: center;
}

#navBar a {
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navBar a:hover {
	background: #C0C0C0;
	color: black;
}

#shopMenuLabel {
	font-weight: bold;
}

