body {
    font-family: system-ui;
    font-size: medium;
    background-color: #F0F0F0;
}

#formTable {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-width: 2px;
	border-spacing: 16px;
	border-radius: 10px;
	text-align: center;
	width: 320px;
	color: grey;
	box-shadow: 10px 10px 5px grey;
}

.title {
	font-size: X-Large;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: lightblue;
	margin-top: 0px;
	margin-bottom: 0px;
}

#counterSpan {
    font-family: Garamond;
	font-size: 100px;
	font-weight: bold;
	color: black;
}

#incrementButton {
	width: 50px;
	border-radius: 10px;
	font-size: X-Large;
	background-color: lightgreen;
}

#resetButton {
	width: 50px;
	border-radius: 10px;
	font-size: X-Large;
	background-color: lightcoral;
}

.vertical-center
{
	display: flex;
	align-items: center;
	justify-content: center;
}

