*.map
*.env
*.lnk
*.log
*.cmd
*.vsix
~$*
.DS_Store
**/node_modules
**/out
/Examples/Balls/web/App.js
/Examples/Balls/web/Smalltalk
/Examples/Balls/web/Script
/Examples/Benchmark/web/App.js
/Examples/Benchmark/web/Smalltalk
/Examples/Benchmark/web/Script
/Examples/Counter/web/App.js
/Examples/Counter/web/Smalltalk
/Examples/Counter/web/Script
/Examples/Love/
/Examples/Shop/Client/web/App.js
/Examples/Shop/Client/web/Smalltalk
/Examples/Shop/Client/web/Script
/Examples/Shop/Client/web/Tools
/Examples/Shop/ClientSpa/web/App.js
/Examples/Shop/ClientSpa/web/Smalltalk
/Examples/Shop/ClientSpa/web/Script
/Examples/Todo/web/App.js
/Examples/Todo/web/Smalltalk
/Examples/Todo/web/Script
/Playground/web/App.js
/Playground/web/Evaluator.js
/Playground/web/Compiler
/Playground/web/Smalltalk
/Playground/web/Script
/Test/
todo.txt
/Website/web/App.js
/Website/web/Smalltalk
/Website/web/Script
/Website/web/Examples/Balls
/Website/web/Examples/Benchmark
/Website/web/Examples/Counter
/Website/web/Examples/Todo
/Website/web/Playground/Playground
/Website/web/Tools
