<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link id="stylesheet" rel="stylesheet" href="FormTarget.css" type="text/css"/>
</head>

<body>
	<br>
	<table>
		<tr>
			<th>
				<p id="fromDataHeaderParagraph">Submitted form data</p>
			</th>
			<td>
				<p id="fromDataParagraph">[form data]</p>
			</td>
		</tr>
	</table>
</body>

<script>
	let paragraph = document.getElementById( "fromDataParagraph" );
	paragraph.textContent = window.location.search;
</script>

</html>
