body {
    padding: 0px;
	margin: 0px;
    font-family: system-ui;
    font-size: medium;
    background-color: #F0F0F0;
}

h1 {
	font-size: large;
	line-height: 0px;
	margin-top: 0px;
	margin-bottom: 18px;
}

#formTable {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 16px;
	border-radius: 10px;
	border-color: grey;
	text-align: center;
	width: 100%;
}

@media (min-width: 500px) {
	#formTable {
		width: 500px;
		border: solid grey;
		border-width: 2px;
		box-shadow: 10px 10px 5px grey;
	}
}

.title {
	font-size: X-Large;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: #C5ECF9;
	margin-top: 0px;
	margin-bottom: 0px;
}

#evaluatorTable {
	text-align: left;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#evaluatorTable td {
	padding: 10px;
}

#helpExamplesDiv {
    font-family: monospace;
}

#expressionTextArea {
	width: 100%;
}

#evaluateButton {
	background-color: lightgreen;
	border-radius: 10px;
	font-weight: bold;
	font-size: large;
}

#resultTextArea {
	width: 100%;
}

.vertical-center
{
	display: flex;
	align-items: center;
	justify-content: center;
}

