#navBar {
	max-width: 100%;
	justify-content: center;
}

#navBarTable
{
	margin-left: auto;
	margin-right: auto;
}

#navBarLabel {
	font-weight: bold;
}

#navBar a {
	font-weight: bold;
	color: black;
	text-align: center;
	padding: 6px 6px;
	text-decoration: none;
	line-height: 1.8;
}

#navBar a:hover {
	background: #C0C0C0;
	color: black;
}
