
body {
    font-family: system-ui;
    font-size: medium;
    background-color: #F8F8F8;
}

#titleMessage {
	font-size: X-Large;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: lightblue;
}

#formTable {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: solid grey;
	border-width: 2px;
	border-spacing: 16px;
	border-radius: 10px;
	text-align: center;
	width: 400px;
	box-shadow: 10px 10px 5px grey;
}

.formSection {
	font-size: Large;
	font-weight: bold;
}

#selectTable {
	margin-left: auto;
	margin-right: auto;
}

#selectTable th {
	text-align: right;
	font-weight: normal;
}

#selectTable td {
	text-align: left;
}

#formTableConversationCell {
	padding-left: 24px; padding-right: 24px;
}

.conversationQuestion {
	background-color: lightgray; border-radius: 8px; padding: 6px;
}

.questionCell {
	padding-top: 16px;
	text-align: right;
}

.answerCell {
	padding-top: 16px;
	text-align: left;
}

