body {
	padding: 0px;
	margin: 0px;
	font-family: system-ui;
	font-size: medium;
	background-color: #F0F0F0;
}

#formTable {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 16px;
	border-radius: 10px;
	border-color: grey;
	width: 100%;
}

@media (min-width: 800px) {
	#formTable {
		width: 800px;
		border: solid grey;
		border-width: 2px;
		box-shadow: 10px 10px 5px grey;
	}
}

.title {
	font-size: X-Large;
	font-weight: bold;
	text-align: center;
	background-color: #C5ECF9;
	margin-top: 0px;
	margin-bottom: 0px;
}

.horizontal-center {
	text-align: center;
}

.horizontal-left {
	text-align: left;
}

.bold-horizontal-center {
	text-align: center;
	font-weight: bold;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bold {
	font-weight: bold;
}
