#navBar {
	width: 100%;
	display: flex;
	justify-content: center;
}

#navBarLabel {
	font-weight: bold;
}

.navBarMenuItem {
	font-weight: bold;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navBarMenuItem:hover {
	background: #C0C0C0;
	color: black;
}
