body {
	font-family: system-ui;
	font-size: medium;
	background-color: #F8F8F8;
}

.title {
	font-size: X-Large;
	font-weight: bold;
	background-color: lightblue;
	margin-top: 0px;
	margin-bottom: 0px;
}

#formTable {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	border: solid gray;
	border-width: 2px;
	border-spacing: 16px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px gray;
	background-color: white;
	text-align: center;
}

#resultsTable {
	margin-left: auto;
	margin-right: auto;
	border: solid gray;
	border-collapse: collapse;
	border-width: 2px;
	border-spacing: 0px;
	text-align: left;
}

#resultsTable th,
#resultsTable td {
	padding: 4px;
	border: 1px solid gray;
	text-align: right;
}

#resultsTable th:nth-child(1),
#resultsTable td:nth-child(1) {
	text-align: left;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tableHeader {
	font-weight: bold;
}