body {
    font-family: system-ui;
    font-size: medium;
    background-color: #F8F8F8;
}

.bs-16px { border-spacing: 16px;}
.bg-light-coral { background-color: lightcoral; }
.shadow-10px-grey { box-shadow: 10px 10px 5px grey;}
