SHOP_DATABASE='postgres://postgres:password@localhost:5432/smalljs'
# SHOP_DATABASE="mariadb://root:password@localhost:3307/smalljs?connectTimeout=0"
# SHOP_DATABASE='mysql://root:password@localhost:3306/smalljs?connectTimeout=0'
SHOP_PORT=3000
