* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-color: #C5ECF9;
	display: flex;
	justify-content: center;
	font-family: 'Segoe UI', sans-serif;
}

table {
	border-collapse: collapse;
}

td {
	/* border: 1px solid black; */
	text-align: center;
}

#fileLabel {
	font-weight: 600;
}

button {
	padding: 2px 4px;
	font-weight: 600;
	border-radius: 6px;
	border-width: 1px
}

textarea {
	padding: 8px;
}
